@charset "UTF-8";

body{
  font-family: monospace;
  font-size: 1.1em;
  line-height: 1.9em;
  padding: 10px;
}

h1{
  display: inline;
}

header{
  margin-bottom: 40px;
}

a{
  border-bottom: 1px solid black;
  color: black;
  margin: 1px;
  padding: 1px 4px;
  text-decoration: none;
}

a:hover{
  border: 1px solid red;
  margin: 0;
  padding: 2px 4px;
}

li{
  list-style: none;
}

li:before{
  color: red;
  content: '⟶ ';
}

.toggleInfos{
  display: none;
}

sup{
  font-size: 0.6em;
}

.title{
  color: red;
}

.space{
  padding-left: 1.5em;
}

.categories{
  border: 1px solid black;
  color: black;
  margin: 0;
  padding: 2px 4px;
}

button{
  cursor: pointer;
  font-family: monospace;
  position: fixed;
}

.moreInfos,
.lessInfos{
  right: 10px;
  top: 10px;
}

button.moreCredits,
.lessCredits{
  bottom: 10px;
  left: 10px;
}

.lessInfos,
.lessCredits{
  display: none;
}

.footer{
  background-color: white;
  border: 1px solid black;
  bottom: 10px;
  display: none;
  font-size: .8em;
  line-height: 1.9em;
  padding: 8px;
  position: fixed;
  right: 10px;
  text-align : right;
}
