@charset "UTF-8";

body{
  font-family: monospace;
  font-size: 1.1em;
  line-height: 1.9em;
  padding: 10px;
}

h1{
  display: inline;
}

.header{
  margin-bottom: 40px;
}

a{
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
  padding: 1px 4px;
  margin: 1px;
}

a:hover{
  border: 1px solid red;
  padding: 2px 4px;
  margin: 0;
}

li{
     list-style: none;
}

li:before{
  content: '⟶ ';
  color: red;
}

.toggleInfos{
  display: none;
}

sup{
  font-size: 0.6em;
}

.title{
  color: red;
}

.space{
  padding-left: 1.5em;
}

.categories{
  color: black;
  border: 1px solid black;
  padding: 2px 4px;
  margin: 0;
}

button{
  position: fixed;
  font-family: monospace;
  cursor: pointer;
}

.moreInfos, .lessInfos{
  top: 10px;
  right: 10px;
}

button.moreCredits, .lessCredits{
  bottom: 10px;
  left: 10px;
}

.lessInfos, .lessCredits{
  display: none;
}


.footer{
  font-size: .8em;
  line-height: 1.9em;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid black;
  padding: 8px;
  background-color: white;
  text-align : right;
  display: none;
}
